<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="{{ asset('bundles/fulguriosocialnetwork/css/bootstrap.min.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/fulguriosocialnetwork/css/styles.css') }}" />
	<script src="{{ asset('bundles/fulguriosocialnetwork/js/jquery-1.7.2.min.js') }}"></script>
	<script src="{{ asset('bundles/fulguriosocialnetwork/js/bootstrap.min.js') }}"></script>
	<title>{% block title %}{% trans %}fulgurio.socialnetwork.title{% endtrans %}{% endblock %}</title>
{% block javascriptTop %}{% endblock %}
</head>
<body>
<div class="container">
	<header class="clearfix">
		<div class="navbar">
			<div class="navbar-inner">
				<div class="container">
					<a class="brand" href="{{ path('fulgurio_social_network_homepage') }}">{% trans %}fulgurio.socialnetwork.title{% endtrans %}</a>
					<div class="nav-collapse">
{% if is_granted("IS_AUTHENTICATED_FULLY") %}
{%   set unreadMessageNb = nbOfUnreadMessage(app.user) %}
						<ul class="nav pull-right">
							<li{% if app.request.attributes.get('_route')|split(0, 33) == 'fulgurio_social_network_messenger' %} class="active"{% endif %}><a href="{{ path('fulgurio_social_network_messenger_list') }}"><i class="icon-envelope icon-white"></i> {% trans from 'messenger' %}fulgurio.socialnetwork.header_link{% endtrans %}{% if unreadMessageNb %}<span class="label label-info">{{ unreadMessageNb }}</span>{% endif %}</a></li>
							<li{% if app.request.attributes.get('_route')|split(0, 30) == 'fulgurio_social_network_friend' %} class="active"{% endif %}><a href="{{ path('fulgurio_social_network_friendship_list') }}"><i class="icon-user icon-white"></i> {% trans from 'friendship' %}fulgurio.socialnetwork.header_link{% endtrans %}</a></li>
							<li class="dropdown" id="profil">
								<a href="#" class="dropdown-toggle" data-toggle="dropdown">{% trans with {'%username%': app.user.username}%}fulgurio.socialnetwork.header_link.logged_as{% endtrans %} <b class="caret"></b></a>
								<ul class="dropdown-menu">
									<li><a href="{{ path('fos_user_profile_show') }}">{% trans %}fulgurio.socialnetwork.header_link.profile{% endtrans %}</a></li>
									<li><a href="{{ path('fos_user_security_logout') }}">{%trans %}fulgurio.socialnetwork.header_link.disconnect{% endtrans %}</a></li>
								</ul>
							</li>
						</ul>
{% else %}
						<ul class="nav pull-right">
							<li>
								<a href="{{ path('fos_user_registration_register') }}">{% trans %}fulgurio.socialnetwork.header_link.register{% endtrans %}</a>
							</li>
							<li id="connect">
								<a href="{{ path('fos_user_security_login') }}">{% trans %}fulgurio.socialnetwork.header_link.signin{% endtrans %}</a>
								<form method="post" action="{{ path('fos_user_security_check') }}" class="form-inline">
									<input type="text" name="_username" class="input-small" value="{{ last_username() }}" placeholder="{% trans %}fulgurio.socialnetwork.login_form.username{% endtrans %}" required="required" />
									<input type="password" name="_password" class="input-small" placeholder="{% trans %}fulgurio.socialnetwork.login_form.password{% endtrans %}" required="required" />
									<label class="checkbox">
										<input type="checkbox" name="_remember_me" value="on" />{% trans %}fulgurio.socialnetwork.login_form.remember_me_link{% endtrans %}
									</label>
									<div class="clearfix">
										<input type="hidden" name="_csrf_token" value="{{ csrf_token() }}" />
										<button type="submit" class="btn btn-primary pull-left">{% trans %}fulgurio.socialnetwork.login_form.signin_button{% endtrans %}</button>
										<a href="{{ path('fos_user_resetting_request') }}" class="pull-right">{% trans %}fulgurio.socialnetwork.login_form.lost_password_link{% endtrans %}</a>
									</div>
								</form>
							</li>
						</ul>
{% endif %}
					</div>
				</div>
			</div>
		</div>
	</header>
{% if app.session.getFlashBag.has('notice') or app.session.getFlashBag.has('fos_user_success') %}
	<div class="alert alert-info">
{%   for flashMessage in app.session.flashbag.get('notice') %}{{ flashMessage|trans }}{% endfor %}
{%   for flashMessage in app.session.flashbag.get('fos_user_success') %}{{ flashMessage|trans }}{% endfor %}
	</div>
{% endif %}
{% if app.session.getFlashBag.has('success') %}
	<div class="alert alert-success">{% for flashMessage in app.session.flashbag.get('success') %}{{ flashMessage|trans }}{% endfor %}</div>
{% endif %}
{% block content %}{% endblock %}
	<hr />
	<footer>
		&copy;<a href="http://www.fulgurio.net" target="_blank">Fulgurio</a>
	</footer>
</div>
{% block javascriptBottom %}{% endblock %}
<script>
$('.dropdown-toggle').dropdown();
{% if is_granted("IS_AUTHENTICATED_FULLY") == false %}
$('#connect a').click(function() {
	$('#connect form').show();
	return false;
});
{% endif %}
</script>
</body>
</html>