{% extends 'FulgurioSocialNetworkBundle::base.html.twig' %}

{% block title %}{% trans from 'messenger' %}fulgurio.socialnetwork.new_message.title{% endtrans %}{% endblock %}

{% block content %}
		<h1>{% trans from 'messenger' %}fulgurio.socialnetwork.new_message.legend{% endtrans %}</h1>
		<form action="{{ path('fulgurio_social_network_messenger_new_message') }}" method="post" class="form-horizontal" id="messengerForm" {{ form_enctype(form) }}>
			<fieldset>
{%   if form.vars.errors
       or form.username_target.vars.errors
       or form.subject.vars.errors
       or form.content.vars.errors
       or form.file.vars.errors %}
				<div class="alert alert-error">
{%     for error in form.vars.errors %}{{ error.messageTemplate|trans({}, 'messenger') }}<br />{% endfor %}
{%     for error in form.username_target.vars.errors %}{{ error.messageTemplate|trans({}, 'messenger') }}<br />{% endfor %}
{%     for error in form.subject.vars.errors %}{{ error.messageTemplate|trans({}, 'messenger') }}<br />{% endfor %}
{%     for error in form.content.vars.errors %}{{ error.messageTemplate|trans({}, 'messenger') }}<br />{% endfor %}
{%     for error in form.file.vars.errors %}{{ error.messageTemplate|trans({}, 'messenger') }}<br />{% endfor %}
				</div>
{%   endif %}
				<div class="control-group">
					<label class="control-label" for="{{ form.username_target.vars.id }}">{% trans from 'messenger' %}fulgurio.socialnetwork.new_message.to.label{% endtrans %}</label>
					<div class="controls posrel" id="targetUser">
						<input type="text" id="{{ form.username_target.vars.id }}" class="input-xlarge" name="{{ form.username_target.vars.full_name }}" value="{{ form.username_target.vars.value }}" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ form.subject.vars.id }}">{% trans from 'messenger' %}fulgurio.socialnetwork.new_message.subject.label{% endtrans %}</label>
					<div class="controls">
						<input type="text" id="{{ form.subject.vars.id }}" class="input-xlarge" name="{{ form.subject.vars.full_name }}" value="{{ form.subject.vars.value }}" required="required" />
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ form.content.vars.id }}">{% trans from 'messenger' %}fulgurio.socialnetwork.new_message.content.label{% endtrans %}</label>
					<div class="controls">
						<textarea class="input-xlarge" id="{{ form.content.vars.id }}" name="{{ form.content.vars.full_name }}" required="required">{{ form.content.vars.value }}</textarea>
					</div>
				</div>
				<div class="control-group">
					<label class="control-label" for="{{ form.file.vars.id }}">{% trans from 'messenger' %}fulgurio.socialnetwork.new_message.file.label{% endtrans %}</label>
					<div class="controls fileupload fileupload-new" data-provides="fileupload">
						<span class="btn btn-file"><span class="fileupload-new">{% trans from 'messenger' %}fulgurio.socialnetwork.new_message.file.select{% endtrans %}</span><span class="fileupload-exists">{% trans %}fulgurio.socialnetwork.profile.edit_profil.avatar.change{% endtrans %}</span><input type="file" id="{{ form.file.vars.id }}" name="{{ form.file.vars.full_name }}" /></span>
						<a class="btn fileupload-exists" data-dismiss="fileupload">{% trans from 'messenger' %}fulgurio.socialnetwork.new_message.file.remove{% endtrans %}</a>
					</div>
				</div>
				<div class="form-actions">
					<input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}" />
					<button type="submit" class="btn btn-primary">{% trans from 'messenger' %}fulgurio.socialnetwork.new_message.send{% endtrans %}</button>
					<a href="{{ path('fulgurio_social_network_messenger_list') }}" class="btn">{% trans from 'messenger' %}fulgurio.socialnetwork.back_to_messages_list{% endtrans %}</a>
				</div>
			</fieldset>
		</form>
{% endblock %}

{% block javascriptTop %}
	<link rel="stylesheet" href="{{ asset('bundles/fulguriosocialnetwork/css/styles_messenger.css') }}" />
	<link rel="stylesheet" href="{{ asset('bundles/fulguriosocialnetwork/css/jasny-bootstrap.min.css') }}" />
	<script src="{{ asset('bundles/fulguriosocialnetwork/js/jasny-bootstrap.min.js') }}"></script>
{% endblock %}

{% block javascriptBottom %}
<script>
var searchResult, selectedFriends;
$('#{{ form.username_target.vars.id }}').keyup(function() {
	var tgt = this;
	var s = $(tgt).attr('value');
	if (s.length > 0) {
		$.ajax('{{ path('fulgurio_social_network_friendship_search') }}', {
			data: {'q': s},
			success: function(d) {
				var nb = d.friends.length;
				if (searchResult === undefined) {
					searchResult = $('<ol id="searchResult"></ol>');
					selectedFriends = $('<ul id="selectedFriends"></ul>');

					$(searchResult).appendTo('#targetUser');
					$(selectedFriends).appendTo($('#targetUser').parent());
				}
				else {
					searchResult.empty();
				}
				for (var i = 0; i < nb; ++i) {
					var exists = false;
					$(selectedFriends).find('li').each(function() {
						if (d.friends[i].id === $(this).data('infos').id) {
							exists = true;
							return;
						}
					});
					if (exists === false) {
						var li = $('<li><img src="' + (d.friends[i].avatar ? d.friends[i].avatar : '{{ asset('bundles/fulguriosocialnetwork/images/avatar.png') }}') + '" class="pull-left" alt="" />' + d.friends[i].username + '</li>');
						li.data('infos', d.friends[i]);
						li.click(function() {
							var aClose = $('<a class="close">&times;</a>');
							aClose.click(function() {
								if ($(this).parent().parent().children().length === 1) {
									$('#m_tgt').attr('required', 'required');
								}
								$(this).parent().remove();
							});
							var d = $(this).data('infos');
							var li2 = $('<li><span>' + d.username + '</span></li>');
							li2.data('infos', d);
							aClose.appendTo(li2);
							li2.appendTo(selectedFriends);
							$(tgt).attr('value', '');
							searchResult.empty();
							$('#m_tgt').removeAttr('required');
						});
						li.appendTo(searchResult);
					}
				}
			},
			error: function() {
				console.log('error');
			}
		});
	}
});
$('#messengerForm').submit(function() {
	var form = this;
	$(selectedFriends).find('li').each(function() {
		$('<input type="hidden" name="{{ form.id_targets.vars.full_name }}" value="' + $(this).data('infos').id + '" />').appendTo($(form));
	});
});
</script>
{% endblock %}
