{% extends 'FulgurioSocialNetworkBundle::adminBase.html.twig' %}

{% block content %}
{% if user.id %}
{%   set formAction = path('fulgurio_social_network_admin_users_edit', {'userId': user.id}) %}
{%   set formTitle = 'fulgurio.socialnetwork.edit.title' %}
{% else %}
{%   set formAction = path('fulgurio_social_network_admin_users_add') %}
{%   set formTitle = 'fulgurio.socialnetwork.add.title' %}
{% endif %}
	<form action="{{ formAction }}" {{ form_enctype(form) }} method="post" class="form-horizontal">
		<fieldset>
			<legend>{{ formTitle|trans({}, 'admin_user') }}</legend>
{% if form.vars.errors
     or form.username.vars.errors
     or form.email.vars.errors
     or form.newPassword.first.vars.errors %}
			<div class="alert alert-error">
{%   for error in form.vars.errors %}{{ error.messageTemplate|trans({}, 'admin_user') }}<br />{% endfor %}
{%   for error in form.username.vars.errors %}{{ error.messageTemplate|trans({}, 'admin_user') }}<br />{% endfor %}
{%   for error in form.email.vars.errors %}{{ error.messageTemplate|trans({}, 'admin_user') }}<br />{% endfor %}
{%   for error in form.newPassword.first.vars.errors %}{{ error.messageTemplate|trans({}, 'admin_user') }}<br />{% endfor %}
			</div>
{% endif %}
			<div class="control-group">
				<label class="control-label" for="{{ form.username.vars.id }}">{% trans from 'admin_user' %}fulgurio.socialnetwork.add.username.label{% endtrans %}</label>
				<div class="controls">
					<input type="text" id="{{ form.username.vars.id }}" class="input-xlarge" name="{{ form.username.vars.full_name }}" value="{{ form.username.vars.value }}" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="{{ form.email.vars.id }}">{% trans from 'admin_user' %}fulgurio.socialnetwork.add.email.label{% endtrans %}</label>
				<div class="controls">
					<input type="email" id="{{ form.email.vars.id }}" class="input-xlarge" name="{{ form.email.vars.full_name }}" value="{{ form.email.vars.value }}" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="{{ form.newPassword.first.vars.id }}">{% trans from 'admin_user' %}fulgurio.socialnetwork.add.password.label{% endtrans %}</label>
				<div class="controls">
					<input type="password" id="{{ form.newPassword.first.vars.id }}" class="input-xlarge" name="{{ form.newPassword.first.vars.full_name }}" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="{{ form.newPassword.second.vars.id }}">{% trans from 'admin_user' %}fulgurio.socialnetwork.add.password2.label{% endtrans %}</label>
				<div class="controls">
					<input type="password" id="{{ form.newPassword.second.vars.id }}" class="input-xlarge" name="{{ form.newPassword.second.vars.full_name }}" />
				</div>
			</div>
			<div class="control-group avatar">
				<label class="control-label" for="{{ form.avatarFile.vars.id }}">{% trans from 'admin_user' %}fulgurio.socialnetwork.add.avatar.label{% endtrans %}</label>
				<div class="controls fileupload {% if user.avatar %}fileupload-exists{% else %}fileupload-new{% endif %}" data-provides="fileupload">
					<div class="fileupload-new thumbnail"><img src="{{ asset('bundles/fulguriosocialnetwork/images/avatar.png') }}" /></div>
					<div class="fileupload-preview fileupload-exists thumbnail"><img src="{{ avatar(user) }}" /></div>
					<span class="btn btn-file"><span class="fileupload-new">{% trans from 'admin_user' %}fulgurio.socialnetwork.add.avatar.select{% endtrans %}</span><span class="fileupload-exists">{% trans from 'admin_user' %}fulgurio.socialnetwork.add.avatar.change{% endtrans %}</span><input type="file" id="{{ form.avatarFile.vars.id }}" name="{{ form.avatarFile.vars.full_name }}" /></span>
					<a class="btn fileupload-exists" data-dismiss="fileupload">{% trans from 'admin_user' %}fulgurio.socialnetwork.add.avatar.remove{% endtrans %}</a>
				</div>
			</div>
			<div class="form-actions">
				<input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}" />
				<button type="submit" name="_submit" class="btn btn-primary">{% trans from 'admin_user' %}fulgurio.socialnetwork.add.save_button{% endtrans %}</button>
			</div>
		</fieldset>
	</form>
{% endblock %}

{% block javascriptTop %}
	<link rel="stylesheet" href="{{ asset('bundles/fulguriosocialnetwork/css/jasny-bootstrap.min.css') }}" />
	<script src="{{ asset('bundles/fulguriosocialnetwork/js/jasny-bootstrap.min.js') }}"></script>
{% endblock %}