{% extends 'FulgurioSocialNetworkBundle::adminBase.html.twig' %}

{% block title %}{{ parent() }} - {% trans from 'admin_user' %}fulgurio.socialnetwork.list.title{% endtrans %}{% endblock %}

{% block content %}
<h1>{% trans from 'admin_user' %}fulgurio.socialnetwork.list.title{% endtrans %}</h1>
<div class="rows">
{% if is_granted("ROLE_SUPER_ADMIN") %}
	<a href="{{ path('fulgurio_social_network_admin_users_add') }}" class="btn">{% trans from 'admin_user' %}fulgurio.socialnetwork.actions.add{% endtrans %}</a>
{% endif %}
	<form action="{{ path('fulgurio_social_network_admin_users') }}" method="post" class="form-search pull-right">
		<input type="search" name="s" class="input-medium search-query" value="{{ searchQuery }}">
		<button type="submit" class="btn">{% trans from 'admin_user' %}fulgurio.socialnetwork.actions.search{% endtrans %}</button>
	</form>
</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th></th>
			<th>{{ users.sortable('fulgurio.socialnetwork.list.username'|trans({}, 'admin_user'), 'a.username')|raw }}</th>
			<th>{{ users.sortable('fulgurio.socialnetwork.list.email'|trans({}, 'admin_user'), 'a.email')|raw }}</th>
			<th>{{ users.sortable('fulgurio.socialnetwork.list.register_date'|trans({}, 'admin_user'), 'a.created_at')|raw }}</th>
			<th>{{ users.sortable('fulgurio.socialnetwork.list.last_login'|trans({}, 'admin_user'), 'a.lastLogin')|raw }}</th>
			<th></th>
		</tr>
	</thead>
	<tfoot>
		<tr>
			<td colspan="6">{{ users.render('FulgurioSocialNetworkBundle::adminPagination.html.twig')|raw }}</td>
		</tr>
	</tfoot>
	<tbody>
{% if users is empty %}
		<tr>
			<td colspan="6" class="no_result">{% trans from 'admin_user' %}fulgurio.socialnetwork.no_result{% endtrans %}</td>
		</tr>
{% else %}
{%   for user in users %}
		<tr>
			<td><img src="{{ avatar(user) }}" /></td>
			<td>{{ user.username }}</td>
			<td>{{ user.email }}</td>
			<td>{{ user.createdAt|date('fulgurio.socialnetwork.format_date'|trans({}, 'admin')) }}</td>
			<td>{% if user.lastLogin %}{{ user.lastLogin|date('fulgurio.socialnetwork.format_date_time'|trans({}, 'admin')) }}{% endif %}</td>
			<td>
{%     if user.isEnabled %}
				<a href="{{ path('fulgurio_social_network_admin_users_ban', {userId: user.id}) }}" title="{% trans from 'admin_user' %}fulgurio.socialnetwork.actions.ban{% endtrans %}" data-toggle="modal" data-target="#myModal"><i class="icon-ban-circle"></i></a>
{%     else %}
				<a href="{{ path('fulgurio_social_network_admin_users_unban', {userId: user.id}) }}" title="{% trans from 'admin_user' %}fulgurio.socialnetwork.actions.unban{% endtrans %}" data-toggle="modal" data-target="#myModal"><i class="icon-ok-circle"></i></a>
{%     endif %}
				<a href="{{ path('fulgurio_social_network_admin_users_contact', {userId: user.id}) }}" title="{% trans from 'admin_user' %}fulgurio.socialnetwork.actions.contact{% endtrans %}"><i class="icon-envelope"></i></a>
{%     if is_granted('ROLE_SUPER_ADMIN') %}
				<a href="{{ path('fulgurio_social_network_admin_users_edit', {userId: user.id}) }}" title="{% trans from 'admin_user' %}fulgurio.socialnetwork.actions.edit{% endtrans %}"><i class=" icon-pencil"></i></a>
				<a href="{{ path('fulgurio_social_network_admin_users_remove', {userId: user.id}) }}" title="{% trans from 'admin_user' %}fulgurio.socialnetwork.actions.remove{% endtrans %}" data-toggle="modal" data-target="#myModal"><i class="icon-trash"></i></a>
{%     endif %}
				<a href="{{ path('fulgurio_social_network_admin_users_view', {userId: user.id}) }}" title="{% trans from 'admin_user' %}fulgurio.socialnetwork.actions.infos{% endtrans %}"><i class=" icon-info-sign"></i></a>
			</td>
		</tr>
{%   endfor %}
{% endif %}
	</tbody>
</table>
{% endblock %}