{% extends 'FulgurioSocialNetworkBundle::adminBase.html.twig' %}

{% block title %}{{ parent() }} - {% trans with {"%username%": user.username} from 'admin_user' %}fulgurio.socialnetwork.view.title{% endtrans %}{% endblock %}

{% block content %}
<h1>{% trans with {"%username%": user.username} from 'admin_user' %}fulgurio.socialnetwork.view.title{% endtrans %}</h1>
<img src="{{ avatar(user) }}" class="pull-right" />
<p class="row">
	<span class="span2">{% trans from 'admin_user' %}fulgurio.socialnetwork.view.username{% endtrans %}</span>{{ user.username }}<br />
	<span class="span2">{% trans from 'admin_user' %}fulgurio.socialnetwork.view.email{% endtrans %}</span>{{ user.email }}<br />
	<span class="span2">{% trans from 'admin_user' %}fulgurio.socialnetwork.view.register_date{% endtrans %}</span>{{ user.createdAt|date('fulgurio.socialnetwork.format_date_time'|trans({}, 'admin')) }}<br />
	<span class="span2">{% trans from 'admin_user' %}fulgurio.socialnetwork.view.last_login{% endtrans %}</span>{{ user.lastLogin|date('fulgurio.socialnetwork.format_date_time'|trans({}, 'admin')) }}<br />
</p>
<div class="form-actions">
	<a href="{{ path('fulgurio_social_network_admin_users_init_password', {userId: user.id}) }}" class="btn btn-primary">{% trans from 'admin_user' %}fulgurio.socialnetwork.actions.init_password{% endtrans %}</a>
{% if user.avatar %}
	<a href="{{ path('fulgurio_social_network_admin_users_remove_avatar', {userId: user.id}) }}" class="btn btn-primary">{% trans from 'admin_user' %}fulgurio.socialnetwork.actions.remove_avatar{% endtrans %}</a>
{% endif %}
{% if user.isEnabled %}
	<a href="{{ path('fulgurio_social_network_admin_users_ban', {userId: user.id}) }}" class="btn btn-primary">{% trans from 'admin_user' %}fulgurio.socialnetwork.actions.ban{% endtrans %}</a>
{% else %}
	<a href="{{ path('fulgurio_social_network_admin_users_unban', {userId: user.id}) }}" class="btn btn-primary">{% trans from 'admin_user' %}fulgurio.socialnetwork.actions.unban{% endtrans %}</a>
{% endif %}
	<a href="{{ path('fulgurio_social_network_admin_users') }}" class="btn">{% trans from 'admin' %}fulgurio.socialnetwork.back{% endtrans %}</a>
</div>
{% endblock %}