{% extends 'FulgurioSocialNetworkBundle::base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}fulgurio.socialnetwork.register.title{% endtrans %}{% endblock %}

{% block content %}
	<form action="{{ path('fos_user_registration_register') }}" method="POST" class="form-horizontal">
		<fieldset>
			<legend>{% trans %}fulgurio.socialnetwork.register.legend{% endtrans %}</legend>
{%   if (form.vars.errors and form.vars.errors|length > 0) or form.username.vars.errors or form.email.vars.errors or form.plainPassword.vars.errors %}
			<div class="alert alert-error">
{%     for error in form.username.vars.errors %}{{ error.messageTemplate|trans({}, 'validators') }}<br />{%   endfor %}
{%     for error in form.email.vars.errors %}{{ error.messageTemplate|trans({}, 'validators') }}<br />{%   endfor %}
{%     for error in form.plainPassword.vars.errors %}{{ error.messageTemplate|trans({}, 'validators') }}<br />{%   endfor %}
{%     for error in form.vars.errors %}{{ error.messageTemplate|trans({}, 'validators') }}<br />{% endfor %}
			</div>
{%   endif %}
			<div class="control-group">
				<label class="control-label" for="{{ form.username.vars.id }}">{% trans %}fulgurio.socialnetwork.register.login_label{% endtrans %}</label>
				<div class="controls">
					<input type="text" class="inputtext" name="{{ form.username.vars.full_name }}" id="{{ form.username.vars.id }}" value="{{ form.username.vars.value }}" required="required" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="{{ form.email.vars.id }}">{% trans %}fulgurio.socialnetwork.register.email_label{% endtrans %}</label>
				<div class="controls">
					<input type="email" class="inputtext" name="{{ form.email.vars.full_name }}" id="{{ form.email.vars.id }}" value="{{ form.email.vars.value }}" required="required" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="{{ form.plainPassword.vars.id }}">{% trans %}fulgurio.socialnetwork.register.password_label{% endtrans %}</label>
				<div class="controls">
					<input type="password" class="inputtext" name="{{ form.plainPassword.vars.full_name }}" id="{{ form.plainPassword.vars.id }}" required="required" />
				</div>
			</div>
			<div class="form-actions">
				<input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}" />
				<button type="submit" name="_submit" class="btn btn-primary">{% trans %}fulgurio.socialnetwork.register.submit{% endtrans %}</button>
				{% trans with {'%tag%': '<a href="' ~ path('fos_user_security_login') ~ '">', '%endtag%' : '</a>'} %}fulgurio.socialnetwork.register.link_to_signin{% endtrans %}
			</div>
		</fieldset>
	</form>
{% endblock %}