{% extends 'FulgurioSocialNetworkBundle::base.html.twig' %}

{% block title %}{{ parent() }} - {% trans %}fulgurio.socialnetwork.profile.edit_profil.title{% endtrans %}{% endblock %}

{% block content %}
	<form action="{{ path('fos_user_profile_edit') }}" {{ form_enctype(form) }} method="post" class="form-horizontal profile-form">
		<fieldset>
			<legend>{% trans %}fulgurio.socialnetwork.profile.edit_profil.legend{% endtrans %}</legend>
{%   if form.vars.errors
       or form.username.vars.errors
       or form.email.vars.errors
       or form.current_password.vars.errors
       or form.plainPassword.vars.errors
       or form.avatarFile.vars.errors
       or form.send_msg_to_email.vars.errors %}
			<div class="alert alert-error">
{%     for error in form.vars.errors %}{{ error.messageTemplate|trans }}<br />{% endfor %}
{%     for error in form.username.vars.errors %}{{ error.messageTemplate|trans }}<br />{% endfor %}
{%     for error in form.email.vars.errors %}{{ error.messageTemplate|trans }}<br />{% endfor %}
{%     for error in form.current_password.vars.errors %}{{ error.messageTemplate|trans }}<br />{% endfor %}
{%     for error in form.plainPassword.vars.errors %}{{ error.messageTemplate|trans }}<br />{% endfor %}
{%     for error in form.avatarFile.vars.errors %}{{ error.messageTemplate|trans }}<br />{% endfor %}
{%     for error in form.send_msg_to_email.vars.errors %}{{ error.messageTemplate|trans }}<br />{% endfor %}
			</div>
{%   endif %}
			<div class="control-group">
				<label class="control-label" for="{{ form.username.vars.id }}">{% trans %}fulgurio.socialnetwork.profile.edit_profil.username_label{% endtrans %}</label>
				<div class="controls">
					<input type="text" id="{{ form.username.vars.id }}" class="input-xlarge" name="{{ form.username.vars.full_name }}" value="{{ form.username.vars.value }}" required="required" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="{{ form.email.vars.id }}">{% trans %}fulgurio.socialnetwork.profile.edit_profil.email_label{% endtrans %}</label>
				<div class="controls">
					<input type="email" id="{{ form.email.vars.id }}" class="input-xlarge" name="{{ form.email.vars.full_name }}" value="{{ form.email.vars.value }}" required="required" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="{{ form.current_password.vars.id }}">{% trans %}fulgurio.socialnetwork.profile.edit_profil.current_password_label{% endtrans %}</label>
				<div class="controls">
					<input type="password" id="{{ form.current_password.vars.id }}" class="input-xlarge" name="{{ form.current_password.vars.full_name }}" required="required" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="{{ form.plainPassword.first.vars.id }}">{% trans %}fulgurio.socialnetwork.profile.edit_profil.new_password_label{% endtrans %}</label>
				<div class="controls">
					<input type="password" id="{{ form.plainPassword.first.vars.id }}" class="input-xlarge" name="{{ form.plainPassword.first.vars.full_name }}" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="{{ form.plainPassword.second.vars.id }}">{% trans %}fulgurio.socialnetwork.profile.edit_profil.new_password2_label{% endtrans %}</label>
				<div class="controls">
					<input type="password" id="{{ form.plainPassword.second.vars.id }}" class="input-xlarge" name="{{ form.plainPassword.second.vars.full_name }}" />
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="{{ form.avatarFile.vars.id }}">{% trans %}fulgurio.socialnetwork.profile.edit_profil.avatar.label{% endtrans %}</label>
				<div class="controls fileupload {% if app.user.avatar %}fileupload-exists{% else %}fileupload-new{% endif %}" data-provides="fileupload">
					<div class="fileupload-new thumbnail"><img src="{{ asset('bundles/fulguriosocialnetwork/images/avatar.png') }}" /></div>
					<div class="fileupload-preview fileupload-exists thumbnail"><img src="{{ avatar(app.user) }}" /></div>
					<span class="btn btn-file"><span class="fileupload-new">{% trans %}fulgurio.socialnetwork.profile.edit_profil.avatar.select{% endtrans %}</span><span class="fileupload-exists">{% trans %}fulgurio.socialnetwork.profile.edit_profil.avatar.change{% endtrans %}</span><input type="file" id="{{ form.avatarFile.vars.id }}" name="{{ form.avatarFile.vars.full_name }}" /></span>
					<a class="btn fileupload-exists" data-dismiss="fileupload">{% trans %}fulgurio.socialnetwork.profile.edit_profil.avatar.remove{% endtrans %}</a>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="{{ form.send_msg_to_email.vars.id }}">{% trans %}fulgurio.socialnetwork.profile.edit_profil.send_msg_to_email.label{% endtrans %}</label>
				<div class="controls">
					<input type="checkbox" id="{{ form.send_msg_to_email.vars.id }}" name="{{ form.send_msg_to_email.vars.full_name }}" value="{{ form.send_msg_to_email.vars.value }}" {% if form.send_msg_to_email.vars.checked %} checked="checked"{% endif %}/>
				</div>
			</div>
			<div class="form-actions">
				<input type="hidden" name="{{ form._token.vars.full_name }}" value="{{ form._token.vars.value }}" />
				<button type="submit" name="_submit" class="btn btn-primary">{% trans %}fulgurio.socialnetwork.profile.edit_profil.update_profil_button{% endtrans %}</button>
				<a href="{{ path('fos_user_profile_show') }}" class="btn">{% trans %}fulgurio.socialnetwork.profile.edit_profil.back_to_profil{% endtrans %}</a>
			</div>
		</fieldset>
	</form>
{% endblock %}

{% block javascriptTop %}
	<link rel="stylesheet" href="{{ asset('bundles/fulguriosocialnetwork/css/jasny-bootstrap.min.css') }}" />
	<script src="{{ asset('bundles/fulguriosocialnetwork/js/jasny-bootstrap.min.js') }}"></script>
{% endblock %}
